<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
</head>
<body>
    <h1>Flight Details</h1>
    <div id="flight-details"></div>

    <script src="{{ url_for('static', filename='flightDetails.js') }}"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');

        console.log("Token sent to get-flight-details:", token);
        if(token) {
            loadFlightDetails(token);
        } else {
            document.getElementById('flight-details').innerHTML = '<p>Error: No token provided.</p>';
        }
    </script>
</body>
</html>