<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hotel Details</h1>
    <div id="hotel-details">
        <!-- Hotel details will be dynamically inserted here -->
    </div>

    <script src="{{ url_for('static', filename='hotelDetails.js') }}"></script>
</body>
</html>
